* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    > div {
        display: flex;

        span {
            margin: 0 3px;
        }

        > span {
            margin: 0;
            display: inline-block;
            width: 50px;
        }
    }

    #keyboard {
        text-align: center;
    }
}
